<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Task Master</h1>
    <p>Authenticated as <%= user.name %>. Click to <a href="/logout">logout</a>.</p>
</body>
</html>
